
    <h2 class="ah-title">All AtypikHouse components - Demo</h2>
    <h3 class="ah-subtitle">Static content (without db)</h3>
    <p class="ah-text">Remove ah class in body to disabled theme</p>
    
    <section class="app-all-child app-home ah-section ah-section-demo" data-content="app-home">
            <!---home--->
            
    </section>
    <section class="app-all-child app-activity ah-section ah-section-demo" data-content="app-activity">
        <!---activity--->
        
    </section>
    <section class="app-all-child app-booking ah-section ah-section-demo" data-content="app-booking">
        <!---booking--->
        
    </section>
    <section class="app-all-child app-category ah-section ah-section-demo" data-content="app-category">
        <!---category--->
        
    </section>
    <section class="app-all-child app-comment ah-section ah-section-demo" data-content="app-comment">
        <!---comment--->
        
    </section>
    <section class="app-all-child app-house ah-section ah-section-demo" data-content="app-house">
        <!---house--->
        
    </section>
    <section class="app-all-child app-payment ah-section ah-section-demo" data-content="app-payment">
        <!---payment--->
        
    </section>
    <section class="app-all-child app-pic ah-section ah-section-demo" data-content="app-pic">
        <!---pic--->
        
    </section>
    <section class="app-all-child app-post ah-section ah-section-demo" data-content="app-post">
        <!---post--->
        
    </section>
    <section class="app-all-child app-tag ah-section ah-section-demo" data-content="app-tag">
        <!---tag--->
        
    </section>
    <section class="app-all-child app-user ah-section ah-section-demo" data-content="app-user">
        <!---user--->
        
    </section>

