
    <h2 class="ah-title">All angular components - Demo</h2>
    <p class="ah-subtitle">Static content (without db)</p>
    <p class="ah-text">Remove ah class in body to disabled theme <br>
    <a href="https://material.angular.io/components/categories" target="_blank">https://material.angular.io/components/categories</a>
    </p>

    <section class="app-demo-child app-demo-nav ah-section ah-section-demo" data-content="app-demo-nav">
        <!---demo-nav--->
        <h3 class="ah-subtitle">Navigation</h3>
    
    </section>

    <section class="app-demo-child app-demo-layout ah-section ah-section-demo" data-content="app-demo-layout">
        <!---demo-layout--->
        <h3 class="ah-subtitle">Layout</h3>
        <h4>(nom composant angular) </h4>
        <!---composant angular ici --->
        <h4>(nom composant angular) </h4>
            <!---composant angular ici --->
        <h4>(nom composent angular) </h4>
            <!---composant angular ici --->
    </section>
    
    <section class="app-demo-child app-demo-form ah-section ah-section-demo" data-content="app-demo-form">
        <!---demo-form---
        <h3 class="ah-subtitle">Form Controls</h3>
        <h4>Autocomplete</h4>
        <span>--Autocomplete--</span>

        <span>--simple --Autocomplete--</span>
        <mat-form-field>
            <input type="text" matInput>
        </mat-form-field>

        <mat-autocomplete>
            <mat-option *ngFor="let option of options" [value]="option">
            {{ option }}
            </mat-option>
        </mat-autocomplete>

        <mat-form-field>
            <input type="text" matInput [matAutocomplete]="auto">
        </mat-form-field>
        
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of options" [value]="option">{{option}}</mat-option>
        </mat-autocomplete>
        <span>-------------------------------------------------------</span>
        <form class="example-form">
            <mat-form-field class="example-full-width">
            <input type="text" placeholder="Pick one" aria-label="Number" matInput [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of options" [value]="option">
                {{option}}
                </mat-option>
            </mat-autocomplete>
            </mat-form-field>
        </form>
        <span>-----------------Avec filtre--------------------------</span>

        <form class="example-form">
        <mat-form-field class="example-full-width">
            <input type="text" placeholder="Pick one" aria-label="Number" matInput [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{option}}
            </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        </form>
        <span>-------------------------------------------------------</span>
        <h4>Checkbox</h4>
        <h4>Datepicker</h4>
        <h4>Form field</h4>
        <h4>Input</h4>
        <h4>Radio button</h4>
        <h4>Select</h4>
        <h4>Slider</h4>
        <h4>Slide toggle </h4>
    -->
    </section>

    <section class="app-demo-child app-demo-btns ah-section ah-section-demo" data-content="app-demo-btns">
        <!---demo-btns--->
        <h3 class="ah-subtitle">Buttons & Indicators</h3>
    </section>

    <section class="app-demo-child app-demo-form ah-section ah-section-demo" data-content="app-demo-form">
        <!---demo-form--->
        <h3 class="ah-subtitle">Popups & Modals</h3>
    </section>

    <section class="app-demo-child app-demo-form ah-section ah-section-demo" data-content="app-demo-form">
        <!---demo-form--->
        <h3 class="ah-subtitle">Data table</h3>
    </section>

    <section class="app-demo-child app-demo-form ah-section ah-section-demo" data-content="app-demo-form">
        <!---demo-form--->
        <h3 class="ah-subtitle">Without Matriel Style - Stepper</h3>
    </section>
    
    <section class="app-demo-child app-demo-form ah-section ah-section-demo" data-content="app-demo-form">
        <!---demo-form--->
        <h3 class="ah-subtitle">Without Matriel Style - Table</h3>
    </section>

    <section class="app-demo-child app-demo-form ah-section ah-section-demo" data-content="app-demo-form">
        <!---demo-form--->
        <h3 class="ah-subtitle">Without Matriel Style - Tree</h3>
    </section>


