<h2 class="ah-title">All AtypikHouse Icons & Tags & Cards - Demo</h2>
<p><a href="http://www.freepik.com/">http://www.freepik.com/</a></p>

<section class="ah-section ah-section-demo" id="tags">
    <h3>Tags Exemple</h3>
    <ul class="ah-list-tags list-inline">
        <li class="ah-tag">Lorem ipsum</li>
        <li class="ah-tag">Sed in</li>
        <li class="ah-tag">Integer accumsan</li>
        <li class="ah-tag">Donec gravida</li>
        <li class="ah-tag">Quisque eu</li>
        <li class="ah-tag">Sed placerat</li>
        <li class="ah-tag">Sed vel</li>
        <li class="ah-tag">Pellentesque ut</li>
        <li class="ah-tag">Etiam eget</li>
        <li class="ah-tag">Sed suscipit</li>
    </ul>
</section>

<section class="ah-section ah-section-demo" id="tags-colors">
    <h3>Tags Exemple - Colors</h3>
    <ul class="ah-list-tags list-inline">
        <li class="ah-tag" data-color="#e2c3c3">Lorem ipsum</li>
        <li class="ah-tag" data-color="#994d4d">Sed in</li>
        <li class="ah-tag" data-color="#93ba8e">Integer accumsan</li>
        <li class="ah-tag" data-color="#21a34c">Donec gravida</li>
        <li class="ah-tag" data-color="#4e9ace">Quisque eu</li>
        <li class="ah-tag" data-color="#80cbe8">Sed placerat</li>
        <li class="ah-tag" data-color="#5994ea">Sed vel</li>
        <li class="ah-tag" data-color="#7081e5">Pellentesque ut</li>
        <li class="ah-tag" data-color="#a490f4">Etiam eget</li>
        <li class="ah-tag" data-color="#f279cd">Sed suscipit</li>
    </ul>
</section>

<section class="ah-section ah-section-demo" id="icons-doc">
    <h3>Icons Doc Exemple - Tiny</h3>
    <ul class="ah-list-icons ah-flex-list" data-icons-set="assets/icons/travel-set/" data="assets/img/bg/">
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-tiny" data-group="doc" data-icon="barcode"></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-tiny" data-group="doc" data-icon="check-in-point"></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-tiny" data-group="doc" data-icon="check-in"></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-tiny" data-group="doc" data-icon="conductor"></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-tiny" data-group="doc" data-icon="credit-card"></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-tiny" data-group="doc" data-icon="credit-cards"></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-tiny" data-group="doc" data-icon="fingerprint"></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-tiny" data-group="doc" data-icon="flight-card"></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-tiny" data-group="doc" data-icon="fling-ticket"></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-tiny" data-group="doc" data-icon="id-card"></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-tiny" data-group="doc" data-icon="id"></a></li>
    </ul>
</section>
<section class="ah-section ah-section-demo" id="icons-doc-circle">
    <h3>Icons Doc Exemple - Tiny Circle</h3>
    <ul class="ah-list-icons ah-flex-list" data-icons-set="assets/icons/travel-set/" data="assets/img/bg/">
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-tiny circle" data-group="doc" data-icon="online-checkin"></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-tiny circle" data-group="doc" data-icon="passport"></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-tiny circle" data-group="doc" data-icon="phone-book"></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-tiny circle" data-group="doc" data-icon="qr-code-scan"></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-tiny circle" data-group="doc" data-icon="qr-code"></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-tiny circle" data-group="doc" data-icon="tag"></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-tiny circle" data-group="doc" data-icon="ticket"></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-tiny circle" data-group="doc" data-icon="tickets"></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-tiny circle" data-group="doc" data-icon="tickets-2"></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-tiny circle" data-group="doc" data-icon="wallet"></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-tiny circle" data-group="doc" data-icon="international-pass"></a></li>
    </ul>
</section>

<section class="ah-section ah-section-demo" id="icons-transport">
    <h3>Icons Transport Exemple - Tiny Colors</h3>
    <ul class="ah-list-icons ah-flex-list" data-icons-set="assets/icons/travel-set/" data="assets/img/bg/">
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-tiny" data-group="transport" data-color="#e2c3c3" data-icon="baloon"></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-tiny" data-group="transport" data-color="#994d4d" data-icon="boat"></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-tiny" data-group="transport" data-color="#93ba8e" data-icon="bus"></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-tiny" data-group="transport" data-color="#21a34c" data-icon="bycicle"></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-tiny" data-group="transport" data-color="#4e9ace" data-icon="car"></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-tiny" data-group="transport" data-color="#80cbe8" data-icon="chopper"></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-tiny" data-group="transport" data-color="#5994ea" data-icon="compass"></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-tiny" data-group="transport" data-color="#7081e5" data-icon="golf-cart"></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-tiny" data-group="transport" data-color="#a490f4" data-icon="jet-ski"></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-tiny" data-group="transport" data-color="#f279cd" data-icon="lift"></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-tiny" data-group="transport" data-color="#a262f4" data-icon="locomotive"></a></li>
    </ul>
</section>

<section class="ah-section ah-section-demo" id="icons-transport-colors">
    <h3>Icons Transport Exemple - Tiny Circle Colors</h3>
    <ul class="ah-list-icons ah-flex-list" data-icons-set="assets/icons/travel-set/" data="assets/img/bg/">
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-tiny circle" data-group="transport" data-color="#e2c3c3" data-icon="navigation"></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-tiny circle" data-group="transport" data-color="#994d4d" data-icon="overground"></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-tiny circle" data-group="transport" data-color="#93ba8e" data-icon="plane"></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-tiny circle" data-group="transport" data-color="#21a34c" data-icon="rocket"></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-tiny circle" data-group="transport" data-color="#4e9ace" data-icon="roller-skate"></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-tiny circle" data-group="transport" data-color="#80cbe8" data-icon="roller"></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-tiny circle" data-group="transport" data-color="#5994ea" data-icon="scateboard"></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-tiny circle" data-group="transport" data-color="#7081e5" data-icon="scooter"></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-tiny circle" data-group="transport" data-color="#a490f4" data-icon="train"></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-tiny circle" data-group="transport" data-color="#f279cd" data-icon="underground"></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-tiny circle" data-group="transport" data-color="#f4bc62" data-icon="vagon"></a></li>
    </ul>
</section>

<section class="ah-section ah-section-demo" id="tags">
    <h3>Tags with Icons Exemple</h3>
    <ul class="ah-list-icons ah-list-tags list-inline" data-icons-set="assets/icons/travel-set/" data="assets/img/bg/">
        <li class="ah-tag tag-icon"><div data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-tiny circle" data-group="restaurant" data-icon="sugar"           ></div>Lorem ipsum</li>
        <li class="ah-tag tag-icon"><div data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-tiny circle" data-group="restaurant" data-icon="take-away-coffee"></div>Sed in</li>
        <li class="ah-tag tag-icon"><div data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-tiny circle" data-group="restaurant" data-icon="tea"             ></div>Integer accumsan</li>
        <li class="ah-tag tag-icon"><div data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-tiny circle" data-group="restaurant" data-icon="toast"           ></div>Donec gravida</li>
        <li class="ah-tag tag-icon"><div data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-tiny circle" data-group="beach"      data-icon="life-vest"       ></div>Quisque eu</li>
        <li class="ah-tag tag-icon" data-color="#80cbe8"><div data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-tiny circle" data-group="beach"      data-icon="watermelon"  data-color="#80cbe8"></div>Sed placerat</li>
        <li class="ah-tag tag-icon" data-color="#5994ea"><div data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-tiny circle" data-group="monument"   data-icon="tower"       data-color="#5994ea"></div>Sed vel</li>
        <li class="ah-tag tag-icon" data-color="#7081e5"><div data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-tiny circle" data-group="monument"   data-icon="monument-11" data-color="#7081e5"></div>Pellentesque ut</li>
        <li class="ah-tag tag-icon" data-color="#a490f4"><div data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-tiny circle" data-group="monument"   data-icon="tower-clock" data-color="#a490f4"></div>Etiam eget</li>
    </ul>
</section>

<section class="ah-section ah-section-demo" id="icons-hotel">
    <h3>Icons Hotel Exemple - Mid</h3>
    <ul class="ah-list-icons ah-flex-list" data-icons-set="assets/icons/travel-set/" data="assets/img/bg/">
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-mid" data-group="hotel" data-icon="animal-allowed"></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-mid" data-group="hotel" data-icon="camera"></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-mid" data-group="hotel" data-icon="cup"></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-mid" data-group="hotel" data-icon="dnd"></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-mid" data-group="hotel" data-icon="double-bed"></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-mid" data-group="hotel" data-icon="fire-extinguisher"></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-mid" data-group="hotel" data-icon="fitness"></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-mid" data-group="hotel" data-icon="free-wifi"></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-mid" data-group="hotel" data-icon="hotel-building"></a></li>
    </ul>
</section>

<section class="ah-section ah-section-demo" id="icons-hotel-colors">
    <h3>Icons Hotel Exemple - Mid Colors</h3>
    <ul class="ah-list-icons ah-flex-list flex-lines-to-left" data-icons-set="assets/icons/travel-set/" data="assets/img/bg/">
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-mid" data-group="hotel" data-color="#bc4a11" data-icon="key"></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-mid" data-group="hotel" data-color="#c98d23" data-icon="lamp"></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-mid" data-group="hotel" data-color="#e2c3c3" data-icon="luggage-carry"></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-mid" data-group="hotel" data-color="#994d4d" data-icon="no-animal-alowed"></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-mid" data-group="hotel" data-color="#93ba8e" data-icon="pool"></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-mid" data-group="hotel" data-color="#21a34c" data-icon="room-service"></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-mid" data-group="hotel" data-color="#4e9ace" data-icon="shower"></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-mid" data-group="hotel" data-color="#80cbe8" data-icon="single-bed"></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-mid" data-group="hotel" data-color="#5994ea" data-icon="toilet-paper"></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-mid" data-group="hotel" data-color="#7081e5" data-icon="towels"></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-mid" data-group="hotel" data-color="#a490f4" data-icon="travel"></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-mid" data-group="hotel" data-color="#f279cd" data-icon="tv"></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-mid" data-group="hotel" data-color="#f4bc62" data-icon="valet"></a></li>
    </ul>
</section>

<section class="ah-section ah-section-demo" id="icons-restaurant">
    <h3>Icons Restaurant Exemple - Mid Pictures</h3>
    <ul class="ah-list-icons ah-flex-list flex-lines-to-left" data-icons-set="assets/icons/travel-set/" data="assets/img/bg/">
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-mid" data-group="restaurant" data-backg="chicken" data-icon="chicken"></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-mid" data-group="restaurant" data-backg="coctail" data-icon="coctail"></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-mid" data-group="restaurant" data-backg="coffee-beans" data-icon="coffee-beans"></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-mid" data-group="restaurant" data-backg="coffee-machine" data-icon="coffee-machine"></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-mid" data-group="restaurant" data-backg="coffee-mug" data-icon="coffee-mug"></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-mid" data-group="restaurant" data-backg="cupcake" data-icon="cupcake"></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-mid" data-group="restaurant" data-backg="dinner" data-icon="dinner"></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-mid" data-group="restaurant" data-backg="fast-food" data-icon="fast-food"></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-mid" data-group="restaurant" data-backg="grill" data-icon="grill"></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-mid" data-group="restaurant" data-color="#994d4d" data-backg="hot-tea" data-icon="hot-tea"></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-mid" data-group="restaurant" data-color="#93ba8e" data-backg="ice-cream" data-icon="ice-cream"></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-mid" data-group="restaurant" data-color="#21a34c" data-backg="knife" data-icon="knife"></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-mid" data-group="restaurant" data-color="#80cbe8" data-backg="lemonade" data-icon="lemonade"></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-mid" data-group="restaurant" data-color="#5994ea" data-backg="lunch" data-icon="lunch"></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-mid" data-group="restaurant" data-color="#7081e5" data-backg="pepper" data-icon="pepper"></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-mid" data-group="restaurant" data-color="#a490f4" data-icon="pot"></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-mid" data-group="restaurant" data-color="#f279cd" data-icon="restaurant"></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-mid" data-group="restaurant" data-color="#f4bc62" data-icon="soup"></a></li>
    </ul>
</section>

<section class="ah-section ah-section-demo" id="icons-beach">
    <h3>Icons Beach Exemple - Big Pictures</h3>
    <ul class="ah-list-icons ah-flex-list" data-icons-set="assets/icons/travel-set/" data="assets/img/bg/">
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-big" data-group="beach" data-backg="anchor"     data-icon="anchor"    ></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-big" data-group="beach" data-backg="beach"      data-icon="beach"     ></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-big" data-group="beach" data-backg="fish"       data-icon="fish"      ></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-big" data-group="beach" data-backg="fishing"    data-icon="fishing"   ></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-big" data-group="beach" data-backg="flip-flops" data-icon="flip-flops" data-color="#80cbe8"></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-big" data-group="beach" data-backg="flippers"   data-icon="flippers"   data-color="#5994ea"></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-big" data-group="beach" data-backg="fresh"      data-icon="fresh"      data-color="#7081e5"></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-big" data-group="beach" data-icon="house"      data-color="#a490f4"></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-big" data-group="beach" data-icon="ice-cream"  data-color="#f279cd"></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-big" data-group="beach" data-icon="island"     data-color="#f4bc62"></a></li>
    </ul>
</section>

<section class="ah-section ah-section-demo" id="icons-beach-title">
    <h3>Icons Beach Exemple - Big Pictures with Title</h3>
    <ul class="ah-list-icons ah-flex-list" data-icons-set="assets/icons/travel-set/" data="assets/img/bg/">
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-big" data-group="beach" data-backg="sailing"       data-icon="sailing"       data-title="Title"></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-big" data-group="beach" data-backg="sand-bucket"   data-icon="sand-bucket"   data-title="Title"></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-big" data-group="beach" data-backg="sandcastle"    data-icon="sandcastle"    data-title="Title"></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-big" data-group="beach" data-backg="scuba-diving"  data-icon="scuba-diving"  data-title="Title"></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-big" data-group="beach" data-backg="sun"           data-icon="sun"           data-title="Title" data-color="#80cbe8" ></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-big" data-group="beach" data-backg="sunglasses"    data-icon="sunglasses"    data-title="Title" data-color="#5994ea" ></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-big" data-group="beach" data-backg="sunny-beach"   data-icon="sunny-beach"   data-title="Title" data-color="#7081e5" ></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-big" data-group="beach" data-icon="swimming-suit" data-title="Title" data-color="#a490f4" ></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-big" data-group="beach" data-icon="swimming"      data-title="Title" data-color="#f279cd" ></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-big" data-group="beach" data-icon="temperature"   data-title="Title" data-color="#f4bc62" ></a></li>
    </ul>
</section>

<section class="ah-section ah-section-demo" id="icons-forest">
    <h3>Icons Forest Exemple - Card with Title</h3>
    <ul class="ah-list-icons ah-flex-list flex-lines-to-left" data-icons-set="assets/icons/travel-set/" data="assets/img/bg/">
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-card" data-group="forest" data-backg="acorn"      data-icon="acorn"      data-title="Title"></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-card" data-group="forest" data-backg="back-pack"  data-icon="back-pack"  data-title="Title"></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-card" data-group="forest" data-backg="barbeque"   data-icon="barbeque"   data-title="Title"></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-card" data-group="forest" data-backg="bear"       data-icon="bear"       data-title="Title"></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-card" data-group="forest" data-backg="bird-house" data-icon="bird-house" data-title="Title"></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-card" data-group="forest" data-backg="butterfly"  data-icon="butterfly"  data-title="Title" data-color="#80cbe8"></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-card" data-group="forest" data-backg="direction"  data-icon="direction"  data-title="Title" data-color="#5994ea"></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-card" data-group="forest" data-backg="fire-lamp"  data-icon="fire-lamp"  data-title="Title" data-color="#7081e5"></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-card" data-group="forest" data-icon="fire"       data-title="Title" data-color="#a490f4"></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-card" data-group="forest" data-icon="forest"     data-title="Title" data-color="#f279cd"></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-card" data-group="forest" data-icon="hand-lamp"  data-title="Title" data-color="#f4bc62"></a></li>
    </ul>
</section>

<section class="ah-section ah-section-demo" id="icons-forest-marker">
    <h3>Icons Forest Exemple - Card with Title & Marker</h3>
    <ul class="ah-list-icons ah-flex-list flex-lines-to-left" data-icons-set="assets/icons/travel-set/" data="assets/img/bg/">
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-card" data-group="forest" data-backg="mountain-track" data-icon="mountain-track" data-title="Title" data-marker="Marker" data-color="#e2c3c3"></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-card" data-group="forest" data-backg="mountains"      data-icon="mountains"      data-title="Title" data-marker="Marker" data-color="#994d4d"></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-card" data-group="forest" data-backg="mushrooms"      data-icon="mushrooms"      data-title="Title" data-marker="Marker" data-color="#93ba8e"></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-card" data-group="forest" data-backg="north-forest"   data-icon="north-forest"   data-title="Title" data-marker="Marker" data-color="#21a34c"></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-card" data-group="forest" data-backg="objective"      data-icon="objective"      data-title="Title" data-marker="Marker" data-color="#4e9ace"></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-card" data-group="forest" data-backg="picnik"         data-icon="picnik"         data-title="Title" data-marker="Marker" data-color="#80cbe8"></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-card" data-group="forest" data-backg="plant"          data-icon="plant"          data-title="Title" data-marker="Marker" data-color="#5994ea"></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-card" data-group="forest" data-backg="swiss-knife"    data-icon="swiss-knife"    data-title="Title" data-marker="Marker" data-color="#7081e5"></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-card" data-group="forest" data-icon="tent"           data-title="Title" data-marker="Marker" data-color="#a490f4"></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-card" data-group="forest" data-icon="trailer"        data-title="Title" data-marker="Marker" data-color="#f279cd"></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-card" data-group="forest" data-icon="tree"           data-title="Title" data-marker="Marker" data-color="#f4bc62"></a></li>
    </ul>
</section>

<section class="ah-section ah-section-demo" id="icons-monument">
    <h3>Icons Monument Exemple - Card with Text</h3>
    <ul class="ah-list-icons ah-flex-list" data-icons-set="assets/icons/travel-set/" data="assets/img/bg/">
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-card" data-group="monument" data-backg="castle-2"         data-icon="castle-2"         data-title="Title" data-text="Lorem ipsum dolor sit amet, consectetur &lt;br> adipiscing elit."></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-card" data-group="monument" data-backg="castle-3"         data-icon="castle-3"         data-title="Title" data-text="Sed in ante id enim semper luctus a nec lorem."></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-card" data-group="monument" data-backg="castle-4"         data-icon="castle-4"         data-title="Title" data-text="Integer accumsan mauris ut lacus mattis condimentum."></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-card" data-group="monument" data-backg="castle-5"         data-icon="castle-5"         data-title="Title" data-color="#e2c3c3" data-text="Donec gravida tortor a ultricies dapibus."></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-card" data-group="monument" data-backg="castle"           data-icon="castle"           data-title="Title" data-color="#994d4d" data-text="Quisque eu urna quis diam venenatis aliquet."></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-card" data-group="monument" data-backg="church-2"         data-icon="church-2"         data-title="Title" data-color="#93ba8e" data-text="Sed placerat ex nec orci tempus, id convallis diam bibendum."></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-card" data-group="monument" data-color="#21a34c"          data-icon="church-3"         data-title="Title" data-text="Sed vel risus non diam malesuada finibus."></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-card" data-group="monument" data-color="#4e9ace"          data-icon="church"           data-title="Title" data-text="Pellentesque ut leo egestas, aliquam felis vitae, tincidunt leo."></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-card" data-group="monument" data-color="#80cbe8"          data-icon="factory"          data-title="Title" data-text="Etiam eget neque ut justo faucibus volutpat."></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-card" data-group="monument" data-backg="house"            data-icon="house"            data-title="Title" data-text="Sed suscipit eros vitae fringilla condimentum."></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-card" data-group="monument" data-backg="islamic-monument" data-icon="islamic-monument" data-title="Title" data-text="Suspendisse vestibulum est id justo tempor hendrerit."></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-card" data-group="monument" data-backg="monument-10"      data-icon="monument-10"      data-title="Title" data-text="Suspendisse vestibulum est id justo tempor hendrerit."></a></li>
    </ul>
</section>


<section class="ah-section ah-section-demo" id="icons-monument-marker">
    <h3>Icons Monument Exemple - Card with Text & Marker</h3>
    <ul class="ah-list-icons ah-flex-list" data-icons-set="assets/icons/travel-set/" data="assets/img/bg/">
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-card" data-group="monument" data-backg="monument-13"   data-icon="monument-13"   data-title="Title" data-marker="Marker" data-color="#e2c3c3" data-text="Lorem ipsum dolor sit amet, consectetur &lt;br> adipiscing elit."></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-card" data-group="monument" data-backg="monument-2"    data-icon="monument-2"    data-title="Title" data-marker="Marker" data-color="#994d4d" data-text="Sed in ante id enim semper luctus a nec lorem."></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-card" data-group="monument" data-backg="monument-3"    data-icon="monument-3"    data-title="Title" data-marker="Marker" data-color="#93ba8e" data-text="Integer accumsan mauris ut lacus mattis condimentum."></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-card" data-group="monument" data-icon="monument-4"    data-title="Title" data-marker="Marker" data-color="#21a34c" data-text="Donec gravida tortor a ultricies dapibus."></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-card" data-group="monument" data-icon="monument-5"    data-title="Title" data-marker="Marker" data-color="#4e9ace" data-text="Quisque eu urna quis diam venenatis aliquet."></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-card" data-group="monument" data-icon="monument-6"    data-title="Title" data-marker="Marker" data-color="#80cbe8" data-text="Sed placerat ex nec orci tempus, id convallis diam bibendum."></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-card" data-group="monument" data-backg="monument-7"    data-icon="monument-7"    data-title="Title" data-marker="Marker" data-text="Sed vel risus non diam malesuada finibus."></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-card" data-group="monument" data-backg="monument-gate" data-icon="monument-gate" data-title="Title" data-marker="Marker" data-text="Pellentesque ut leo egestas, aliquam felis vitae, tincidunt leo."></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-card" data-group="monument" data-backg="monument"      data-icon="monument"      data-title="Title" data-marker="Marker" data-text="Etiam eget neque ut justo faucibus volutpat."></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-card" data-group="monument" data-backg="pyramids"      data-icon="pyramids"      data-title="Title" data-marker="Marker" data-color="#f279cd" data-text="Sed suscipit eros vitae fringilla condimentum."></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-card" data-group="monument" data-backg="pyrimad"       data-icon="pyrimad"       data-title="Title" data-marker="Marker" data-color="#f4bc62" data-text="Suspendisse vestibulum est id justo tempor hendrerit."></a></li>
        <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-card" data-group="monument" data-backg="tower-2"       data-icon="tower-2"       data-title="Title" data-marker="Marker" data-color="#f4bc62" data-text="Suspendisse vestibulum est id justo tempor hendrerit."></a></li>
    </ul>
</section>

<section class="ah-section ah-section-demo" id="icons-monument-marker">
    <h3>Card Banners</h3>
    <ul class="ah-list-icons ah-flex-list" data-icons-set="assets/icons/travel-set/" data="assets/img/bg/">
        
    </ul>
</section>