<mat-card>
    <form>
        <fieldset class="ah-form-fieldset">
            <mat-form-field>
                <input matInput placeholder="House Name" name="name" [(ngModel)]="house.title">
            </mat-form-field>
        </fieldset>

        <fieldset class="ah-form-fieldset">
        <mat-form-field>
            <input matInput placeholder="Address" name="address" [(ngModel)]="house.location.address">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="City" name="city" [(ngModel)]="house.location.city">
        </mat-form-field>
        </fieldset>

        <fieldset class="ah-form-fieldset">
            <mat-form-field>
                <mat-select placeholder="House Type" name="type" [(ngModel)]="house.type">
                    <mat-option *ngFor="let type of types" [value]="type">{{ type.title }}</mat-option>
                </mat-select>
            </mat-form-field>
        </fieldset>

        <fieldset class="ah-form-fieldset">
        <mat-form-field>
            <textarea matNativeControl placeholder="Description" name="desc" [(ngModel)]="house.desc"></textarea>
        </mat-form-field>
        </fieldset>

        <fieldset class="ah-form-fieldset">
            <button class="ah-overlay-cta-primary" mat-button mat-raised-button (click)="cancel()">Cancel</button>
            <button class="ah-overlay-cta-primary" mat-button mat-raised-button color="accent" (click)="save()">Save</button>
        </fieldset>
    </form>
</mat-card>

    {{ house | json }}
