<!--The content below is only a placeholder and can be replaced.-->
<div class="ah-page ah-page-{{ page }} {{ openSearchbox }} private">
  <header id="header" class="ah-header">
    <section id="header-top" class="ah-header-top" role="navigation">
      <div class="ah-header-wrap">
        <mat-toolbar color="background">
          <button id="sidenav-cta" (click)="toggleSidenav()" class="not-desktop" mat-button><mat-icon>menu</mat-icon><mat-icon>menu_open</mat-icon></button>
          <a class="ah-title ah-header-title ah-link ah-link-primary" href="/"><h1  class="ah-header-title">AtypikHouse</h1><img class="ah-header-logo" src="assets/img/logo.png" alt="AtypikHouse Logo"></a>
          <nav class="ah-nav-primary ah-header-nav-primary">
            <ul class="list-inline">
              <!-- need hide in production -->
              <li class="not-mobile ah-tiny"><a class="ah-header-link ah-link ah-link-secondary" href="/all">all</a></li>
              <li class="not-mobile ah-tiny"><a class="ah-header-link ah-link ah-link-secondary" href="/demo">demo</a></li>
              <li class="not-mobile ah-tiny"><a class="ah-header-link ah-link ah-link-secondary" href="/demo-typo">demo-typo</a></li>
              <li class="not-mobile ah-tiny"><a class="ah-header-link ah-link ah-link-secondary" href="/demo-icons">demo-icons</a></li>
              <li class="not-mobile"><a class="ah-header-link ah-link ah-link-secondary" href="/categories"><mat-icon class="ah-icon-inline-toolbar">landscape</mat-icon><span>Explorer</span></a></li>
              <li><button (click)="searchbox()" class="ah-header-link ah-cta-secondary ah-cta-search-top current" mat-button><mat-icon>search</mat-icon><span>Chercher</span></button></li>
              <li>
                <ul class="list-inline only-public">
                  <li><button (click)="login()" class="ah-cta-primary" mat-button><mat-icon>person</mat-icon><span>Se connecter</span></button></li>
                </ul>
                <ul class="list-inline only-logged">
                    <li class="ah-cta-group">
                      <button (click)="open(loyalty)" mat-button><mat-icon>loyalty</mat-icon></button>
                      <button (click)="open(notifications)" mat-button><mat-icon matBadge="2" matBadgeOverlap="false">notifications</mat-icon></button>
                    </li>
                    <li><button (click)="login()" class="ah-cta-primary" mat-button><mat-icon>person</mat-icon><span>Mon compte</span></button></li>
                  </ul>
              <li><button (click)="toggleTheme()" mat-button><mat-icon>brightness_6</mat-icon></button></li>
            </ul>
          </nav>
        </mat-toolbar>
        <nav id="sidenav" class="ah-nav-sidenav ah-nav-secondary not-desktop">
          <ul class="list-menu">
            <li><a class="ah-sidenav-link ah-link ah-link-secondary" href="/categories"><mat-icon class="ah-icon-inline">landscape</mat-icon><span>Explorer</span></a></li>
            <li><a class="ah-sidenav-link ah-link ah-link-secondary" href="/news">      <mat-icon class="ah-icon-inline">new_releases</mat-icon><span>Actualités</span></a></li>
          </ul>
          <ul class="list-menu">
            <li class="ah-tiny"><a class="ah-sidenav-link ah-link ah-link-secondary" href="/all">all</a></li>
            <li class="ah-tiny"><a class="ah-sidenav-link ah-link ah-link-secondary" href="/demo">demo</a></li>
            <li class="ah-tiny"><a class="ah-sidenav-link ah-link ah-link-secondary" href="/demo-typo">demo-typo</a></li>
            <li class="ah-tiny"><a class="ah-sidenav-link ah-link ah-link-secondary" href="/demo-icons">demo-icons</a></li>
          </ul>
          <ul class="list-menu list-menu-bottom">
              <li><a class="ah-sidenav-link ah-link ah-link-secondary" href="/help">      <mat-icon>help</mat-icon><span>Aide</span></a></li>
          </ul>
        </nav>
      </div>
    </section>
    <section id="searchbox" class="ah-header-sup" role="navigation">
      <section role="banner" class="ah-banner ah-banner-{{ randomBanner }}">
      </section>
      <section role="search" class="ah-section-search">
        <div class="ah-header-wrap">
          <h2 class="ah-suptitle"><i class="ah-title-icon-left la la-leaf"></i>Offrez-vous une nuit insolite<i class="ah-title-icon-right la la-leaf"></i></h2> 
          <form class="ah-form-search">SEARCH</form>
        </div>
      </section>
    </section>
  </header>

  <main id="{{ pageid }}" role="main" class="ah-container-main ah-loading ah-loading-overlay {{ page }}-content">
    <div class="ah-content-wrap">
      <router-outlet></router-outlet>
      <!--
        <div class="ah-loader">
          <div class="ah-loader-container">
            <i class="ah-loader-icon la la-leaf"></i>
          </div>
        </div>
      -->
      <!--
        <div class="ah-loader">
          <div class="ah-loader-container">
            <div class="ah-loader-triangle ah-loader-triangle-border"></div>
            <div class="ah-loader-triangle ah-loader-triangle-back"></div>
            <div class="ah-loader-logo"></div>
          </div>
        </div>
      -->
    </div>
  </main>

  <aside id="aside" class="ah-aside">
    <h2 class="ah-title ah-title-separator important"><span class="ah-title-text"><i class="ah-title-icon-left la la-leaf"></i>Découvrez aussi...<i class="ah-title-icon-right la la-leaf"></i></span></h2>
    <div class="ah-content-wrap">
      <ul class="ah-list-icons ah-flex-list" data-icons-set="assets/icons/travel-set/" data="assets/img/bg/">
          <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-big" data-group="beach" data-backg="sailing"       data-icon="sailing"       data-title="Title"></a></li>
          <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-big" data-group="beach" data-backg="sand-bucket"   data-icon="sand-bucket"   data-title="Title"></a></li>
          <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-big" data-group="beach" data-backg="sandcastle"    data-icon="sandcastle"    data-title="Title"></a></li>
          <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-big" data-group="beach" data-backg="scuba-diving"  data-icon="scuba-diving"  data-title="Title"></a></li>
          <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-big" data-group="beach" data-backg="sun"           data-icon="sun"           data-title="Title" data-color="#80cbe8" ></a></li>
          <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-big" data-group="beach" data-backg="sunglasses"    data-icon="sunglasses"    data-title="Title" data-color="#5994ea" ></a></li>
          <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-big" data-group="beach" data-backg="sunny-beach"   data-icon="sunny-beach"   data-title="Title" data-color="#7081e5" ></a></li>
          <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-big" data-group="beach" data-icon="swimming-suit" data-title="Title" data-color="#a490f4" ></a></li>
          <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-big" data-group="beach" data-icon="swimming"      data-title="Title" data-color="#f279cd" ></a></li>
          <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-big" data-group="beach" data-icon="temperature"   data-title="Title" data-color="#f4bc62" ></a></li>
      </ul>
    </div>
    <i class="la la-pagelines important ah-aside-foot-icon"></i>
  </aside>

  <footer id="footer" class="ah-footer">
    <section id="footer-top" class="ah-footer-top">
      <div class="ah-footer-wrap">
        <mat-toolbar color="background">
          <nav class="ah-nav-secondary ah-footer-nav-primary">
            <ul class="list-inline">
              <li><a class="ah-footer-link ah-link ah-link-secondary" href="/about">À propos</a></li>
              <li><a class="ah-footer-link ah-link ah-link-secondary" href="/blog">Blog</a></li>
              <li><a class="ah-footer-link ah-link ah-link-secondary" href="/support">Support</a></li>
              <li><a class="ah-footer-link ah-link ah-link-secondary" href="/faq">FAQ</a></li>
              <li><a class="ah-footer-link ah-link ah-link-secondary" href="/cgu">CGU</a></li>
            </ul>
          </nav>
          <nav class="ah-nav-secondary ah-footer-nav-secondary">
            <ul class="list-inline">
              <li class="not-mobile"><a class="ah-footer-link ah-link ah-link-secondary" href="/news"><mat-icon class="ah-icon-inline-toolbar">new_releases</mat-icon><span>Actualités</span></a></li>
              <li class="not-mobile"><a class="ah-footer-link ah-link ah-link-secondary" href="/help"><mat-icon class="ah-icon-inline-toolbar">help</mat-icon><span>Aide</span></a></li>
              <li><button (click)="toggleTheme()" class="ah-cta-primary" mat-button><mat-icon>brightness_6</mat-icon></button></li>
            </ul>
          </nav>
        </mat-toolbar>
      </div>
    </section>
    <section class="ah-footer-sub">
      <div class="ah-footer-wrap">
        <div class="ah-flex-list ah-footer-list">
          <div>
            <h6>reinsurance content</h6>
            <div>
              <p class="ah-tiny">Quod rerum sapiente illum temporibus<br> tempore omnis commodi molestias iste officia non?</p>
              <p class="ah-tiny">Lorem ipsum dolor sit amet consectetur<br> adipisicing elit. Corporis nemo sed repellendus id<br> deserunt optio obcaecati ipsa laudantium<p>
            </div>
          </div>
          <div class="ah-flex-list flex-lines-to-left">
            <ul>
              <li>Item item</li>
              <li>Item item</li>
              <li>Item item</li>
            </ul>
            <ul>
              <li>Item item</li>
              <li>Item item</li>
              <li>Item item</li>
            </ul>
          </div>
          <ul class="ah-list-icons ah-flex-list" data-icons-set="assets/icons/travel-set/" data="assets/img/bg/">
            <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-tiny" data-group="transport" data-color="#e2c3c3" data-icon="navigation"></a></li>
            <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-tiny" data-group="transport" data-color="#994d4d" data-icon="overground"></a></li>
            <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-tiny" data-group="transport" data-color="#93ba8e" data-icon="plane"></a></li>
            <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-tiny" data-group="transport" data-color="#21a34c" data-icon="rocket"></a></li>
            <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-tiny" data-group="transport" data-color="#4e9ace" data-icon="roller-skate"></a></li>
            <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-tiny" data-group="transport" data-color="#80cbe8" data-icon="roller"></a></li>
            <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-tiny" data-group="transport" data-color="#5994ea" data-icon="scateboard"></a></li>
            <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-tiny" data-group="transport" data-color="#7081e5" data-icon="scooter"></a></li>
            <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-tiny" data-group="transport" data-color="#a490f4" data-icon="train"></a></li>
            <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-tiny" data-group="transport" data-color="#f279cd" data-icon="underground"></a></li>
            <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-tiny" data-group="transport" data-color="#f4bc62" data-icon="vagon"></a></li>
          </ul>
        </div>
      </div>
    </section>
  </footer>
</div>